html,
body {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  background: #EBEBEB;
  font-family: "Montserrat";
  cursor: default;
}

.logo {
  text-align: center;
}

#mission4Logo {
  width: 100px;
  height: 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mr-1 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.titlebar {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #353535;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  height: 50px;
  border-top: 4px solid #20b885;
}

.backbtn {
  padding: 0px 10px;
}

.spacer {
  opacity: 0;
}

.panel {
  background: #FAFAFA;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
}

.panel-heading {
  background: #fff;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel-heading .icon {
  color: #20b885;
  font-size: 24px;
  cursor: pointer;
}

.panel-heading .icon * {
  cursor: pointer;
}

.panel-body {
  padding: 10px;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
}

.list-item .list-item-title {
  color: #00BC81;
  font-size: 16px;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.list-item:first-child {
  border-top: 1px solid #EBEBEB;
}

.list-item:hover {
  background: #f6f6f6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  outline: none;
  cursor: pointer;
  padding: 8px 5px;
  border: 1px solid #eee;
  background: #fafafa;
  border-radius: 4px;
  font-size: 14px;
}

.btn:hover {
  background: #efefef;
}

.btn.is-success {
  background: #20b885;
  color: #fff;
  border: 1px solid #1ca275;
}

.btn.is-success:hover {
  background: #1ca275;
}

.btn.is-danger {
  background: #EF5350;
  color: #fff;
  border: 1px solid #ed3c39;
}

.btn.is-danger:hover {
  background: #ed3c39;
}

.btn.is-danger.disabled {
  background: #E57373;
  color: #fff;
  border: 1px solid #e15d5d;
}

.btn.is-danger.disabled:hover {
  background: #e15d5d;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block:not(:last-child) {
  margin-bottom: 10px;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus {
  outline: none;
  background: #30dba2;
  border-color: #30dba2;
  cursor: default;
}

.text-center {
  text-align: center;
}

.loading {
  width: 100vw;
  height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-control {
  margin-bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #d7d7d7;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #20b885;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 184, 133, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 184, 133, 0.6);
}

pre {
  width: 100%;
  overflow-x: scroll;
}

.codeview {
  height: calc(100vh - 54px);
  background: #fafafa;
  padding: 10px;
}

.codeview textarea {
  font-family: 'Space Mono', monospace;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #fafafa;
  border: none;
  overflow-x: scroll;
  white-space: pre;
}

.no-wifi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 150px);
  text-align: center;
  color: #aaa;
}

.no-wifi .online-icon {
  font-size: 56px;
  margin-bottom: 15px;
}

.help-text,
.help-text a {
  color: #aaa;
  text-decoration: none;
  padding: 0px 0px 10px;
  text-align: right;
}

