html, body {
    padding: 0;
    margin: 0;
    padding-top: 25px;
    background: #EBEBEB;
    font-family: "Montserrat";
    cursor: default;
}

.logo{
    text-align: center;
}

#mission4Logo{
    width: 100px;
    height: 100px;
}

* { box-sizing: border-box; }

// Margins
.mr-1{margin-right: 5px; }
.ml-1{margin-left: 5px; }

.titlebar{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #353535;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    height: 50px;
    border-top: 4px solid #20b885;
}
.backbtn{
    padding: 0px 10px;
}
.spacer{
    opacity: 0;
}

.panel{
    background: #FAFAFA;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
}
.panel-heading{
    background: #fff;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon{ color: #20b885; font-size: 24px; cursor: pointer; * { cursor: pointer; } }
}
.panel-body{
    padding: 10px
}

.list-group{
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-item{
    cursor: pointer;
    padding: 10px;
    font-size: 12px;

    .list-item-title{
        color: #00BC81;
        font-size: 16px;
    }

    &:not(:last-child){
        border-bottom: 1px solid #EBEBEB;
    }

    &:first-child{
        border-top: 1px solid #EBEBEB;
    }

    &:hover{
        background: #f6f6f6;
    }
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1{
    flex: 1;
}




.btn{
    outline: none;
    cursor: pointer;
    padding: 8px 5px;
    border: 1px solid #eee;
    background: #fafafa;
    border-radius: 4px;
    font-size: 14px;
    &:hover{
        background: #efefef;
    }
}

.btn.is-success{
    background: #20b885;
    color: #fff;
    border: 1px solid darken(#20b885, 5%);
    &:hover{
        background: darken(#20b885, 5%);
    }
}

.btn.is-danger{
    background: #EF5350;
    color: #fff;
    border: 1px solid darken(#EF5350, 5%);
    &:hover{
        background: darken(#EF5350, 5%);
    }
}

.btn.is-danger.disabled{
    background: #E57373;
    color: #fff;
    border: 1px solid darken(#E57373, 5%);
    &:hover{
        background: darken(#E57373, 5%);
    }
}

.btn-block{
    display: block;
    width: 100%;
    &:not(:last-child){
        margin-bottom: 10px
    }
}
.btn.disabled, .btn.disabled:hover, , .btn.disabled:focus{
    outline: none;
    background: lighten(#20b885, 10%);
    border-color: lighten(#20b885, 10%);
    cursor: default;
}

.text-center{
    text-align: center
}


.loading{
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    color: #000;
    font-size: 50px;
    justify-content: center;
}

.form-control{
    margin-bottom: 10px;
    box-shadow: none;
    border: 2px solid #d7d7d7;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus{
        border-color: #20b885;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(32,184,133,.6);
    }
}


pre{
    width: 100%;
    overflow-x: scroll;
    // background: red;
}


.codeview{
    height: calc(100vh - 54px);
    background: #fafafa;
    padding: 10px;
    textarea{
        font-family: 'Space Mono', monospace;
        outline: none;
        font-size: 14px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        background: #fafafa;
        border: none;
        overflow-x: scroll;
        white-space: pre;
    }
}